<do-frame leftTitle="工业互联网" [menubarNone]=false>
  <do-container smallTitle="我国工业互联网发展规模" dataComing="IHS" [optionType]="trendLine" [theme]="theme"  [showEcharts]="showEcharts" style="float:left">
  </do-container>
  <do-container smallTitle="工业互联网平台发展规模" dataComing="IOT anasysis" [optionType]="growthMap" [theme]="theme" [showEcharts]="showEcharts"style="margin-left:1vh;float:left">
  </do-container>
  <do-container smallTitle="我国工业控制系统以及传感器发展规模" dataComing="中国报告网" [theme]="theme" [optionType]="indexLine" [showEcharts]="showEcharts"  style="margin-top:1vh;float:left">
  </do-container>
  <do-container smallTitle="我国工业软件发展规模" dataComing="Cnrtaer" [showEcharts]="showEcharts" [optionType]="growBarh" style="margin-left:1vh;margin-top:1vh;float:left">
  </do-container>
</do-frame>
