<do-frame class="network" leftTitle="网络强国全景图" menubarNone="true" menubarNoneTwo="true">
    <do-network class="nw roteValue" (btnClicked)="btnNetClicked($event)" [theme]="theme" smallTitle="网络设施" dataComing="宽带发展联盟" nameMap="china" showEcharts="false" showChangeNorm_type=true>
      <p [ngClass]="{'contentHidden': mapHidden}" style="margin-left:10%;  font-size: 1.6rem;">2017年第三季度全国固定宽带可用下载速率达到&#x3000;<span class="provinceNum">{{provinceRate}}</span>&#x3000;Mbps</p>
        <div [ngClass]="{'contentHidden': mapHidden}" class="roteMap">
          <do-echarts [options]="speedMap" [nameMap]="nameMap" [theme]="theme" style="width:100%; margin-left:6%; margin-top:3%;"></do-echarts> 
        </div>
        <div [ngClass]="{'contentHidden': mapHidden}" class="rotePassage">
          <h3 style="margin-top: 10%; margin-left: 37%; font-size: 1.6rem;">{{rateTitle}}</h3>
          <span class="spanOne" style="font-size: 1.6rem;">{{provinceName}}</span><span class="spanTwo" style="font-size: 1.6rem;">{{rateSpeed}}</span><br>
          <ul class="ul1">
            <li *ngFor="let item of nameFor">{{item}}</li>
          </ul>
          <ul class="ul2">
            <li *ngFor="let speed of rateFor">{{speed}}</li>
          </ul>
        </div>
        <div [ngClass]="{'contentHidden': historyChangeHidden}" class="historyChange">
          <p>&#x3000;&#x3000;{{historyDis}}</p>
          <do-echarts [options]="historyBar" [theme]="theme" style="width:100%; margin-left:6%; margin-top:3%;"></do-echarts> 
        </div>
      </do-network>
  <!-- <do-network class="nw datanone" [theme]="theme" [optionType]="mapUp" showEcharts="true" [nameMap]="nameMap"></do-network> -->
  <!-- <do-network class="nw" [theme]="theme" smallTitle="数字经济发展态势" dataComing="信通院" [optionType]="lineUp" showEcharts="true">
  </do-network> -->
  <do-network [tabItems]="tab1Items" class="nw dataC" [theme]="theme" smallTitle="信息服务" dataComing="宽带发展联盟、国家统计局" [optionType]="lineUp"
  showChangeNorm_type="true" (btnClicked)="btnGroupClicked($event)" showChangeNorm_type=true>
  <p [ngClass]="wordClass" style="font-size: 1.6rem;">2017年第三季度，我国固定宽带家庭普及率达到72.5%，提前三年完成"十三五"规划中"2020年底达到70%的目标</p>
  <p [ngClass]="wordClass1" style="font-size: 1.6rem;">我国移动宽带用户普及率与35个OECD国家对应相比，可排到第20位，超过法国、德国、加拿大等发达国家。</p>
</do-network>
  <do-network class="nw datanone netCountry" [theme]="theme" smallTitle="网络强国发展指数"
    OnJump=true show="show" [optionTypeModel]="radiaPic" [special1]='special1' [special3]='special3' [special2]='special2'>
      <button class="netStrongCountry NetworkFacilities"(click)="network1SecurityCliked()"></button>
      <button class="netStrongCountry techIndustry" (click)="network2SecurityCliked()"></button>
      <button class="netStrongCountry networkSecurity"  (click)="network3SecurityCliked()"></button>
      <button class="netStrongCountry informationService" (click)="network4SecurityCliked()"></button>
      <button class="netStrongCountry digitalEconomy" (click)="network5SecurityCliked()"></button>
  </do-network>
   <!-- 十二月7号变更原版
  <do-network class="nw rightDown" smallTitle="网络信息安全态势" dataComing="信通院" showEcharts="false">
    <div class="coverRange">
      <h4>覆盖范围</h4>
      <span>{{enterprises}}</span>
      <br>
      <span>{{enterNum}}</span> 
      <br>
      <span>{{website}}</span>
      <br>
      <span>{{siteNum}}</span> 
      <br>
      <span>{{machinecRoom}}</span>
      <br>
      <span>{{machineRoomNum}}</span> 
      <br>
      <span>{{netSystem}}</span> 
      <br>
      <span>{{netSystemNum}}</span>   
      <br>
      <span>{{Industry}}</span> 
      <br>
      <span>{{IndustryNum}}</span> 
      <br>
    </div>
    <do-echarts [options]="mapDown" [theme]="theme" [nameMap]="nameMap" style="width:39%; margin-left:0%; margin-top:3%; float:left;"></do-echarts> 
    <div class="secSituation">
      <h4>全国安全态势</h4>
      <div style="padding-top: 4%;" >
        <h4 style="font-size: 2.0rem;">信息安全</h4>
        <div style="float:left;" class="security"></div>
      </div>
      <div style="padding-top: 27%;">
          <h4 style="padding-top:5%; display:block;font-size: 2.0rem;">网络安全</h4>
          <div class="netSecurity"></div>
      </div>
      <div style="padding-top: 3%;;">
          <h4 style="padding-top:5%; display:block;font-size: 2.0rem;">工业互联网安全</h4>
          <div class="industrySec"></div>
      </div>
    </div>
   </do-network>
</do-frame> -->
 <!-- 十二月7号变更新版 -->
 <do-network class="nw " [theme]="theme" [optionType]="lineDown" smallTitle="数字经济" dataComing="信通院" showEcharts="true"></do-network>