<do-frame leftTitle="工业控制系统及传感产业发展态势" [menubarNone]=false>
  <do-container smallTitle="我国PLC发展规模" dataComing="工控网" [optionType]="trendLine" [theme]="theme" [showEcharts]="showEcharts"
    style="float:left">
  </do-container>
  <do-container smallTitle="我国DCS发展规模" dataComing="工控网" [optionType]="growthMap" [theme]="theme" [showEcharts]="showEcharts"
    style="margin-left:1vh;float:left">
  </do-container>
  <do-container smallTitle="我国SCADA发展规模" dataComing="工控网" [theme]="theme" [optionType]="indexLine" [showEcharts]="showEcharts"
    style="margin-top:1vh;float:left">
  </do-container>
  <do-container smallTitle="我国HMI发展规模" dataComing="工控网" [showEcharts]="showEcharts" [optionType]="growBarh" style="margin-left:1vh;margin-top:1vh;float:left">
  </do-container>
</do-frame>
