.boxModel {
    position: relative;
    color: #fff;
    width: 48.4vw;
    height: 38.7vh;
    background: url('../../../assets/images/componentBg.png') no-repeat;
    background-size: 100% 100%;
    h3 {
        position: absolute;
        font-size: 2.4rem;
        top: 0.8vh;
        left: 1%;
        letter-spacing: 4px;
    }
    #myCharts {
        left: 3%;
        position: absolute;
        width: 94%;
        height: 81%;
        top: 12%;
    }
    .dataComing {
        position: absolute;
        bottom: 0.5vh;
        font-size: 1.6rem;
        right: 2%;
        color: #71BFFF;
        max-width: 21% !important;
    }
    .changeNorm_type {
        position: absolute;
        bottom: 0px;
        max-width: 60%;
        height: 4vh;
        overflow: hidden;
        button {
            background: url('../../../assets/images/bottom_btn.png') no-repeat;
            padding: 5px 20px;
            background-size: 100% 100%;
            color: #286EDD;
            text-align: center;
            height: 4vh;
            font-size: 2rem;
            border: none;
            margin-left: 16px;
            outline: none;
        }
        button:hover {
            background-image: url('../../../assets/images/selectFooter.png');
            color: #fff;
        }
        .buttonClick {
            background-image: url('../../../assets/images/selectFooter.png');
            color: #fff;
        }
        button.more {
            color: #fff;
            font-size: 2rem;
            position: absolute;
            z-index: 900;
            right:-2em;
        }
    }
    button.more {
        background: url('../../../assets/images/bottom_btn.png') no-repeat;
        padding: 5px 20px;
        background-size: 100% 100%;
        color: #286EDD;
        text-align: center;
        height: 4vh;
        font-size: 2rem;
        border: none;
        margin-left: 16px;
        outline: none;
    }
    button.more:hover {
        background-image: url('../../../assets/images/selectFooter.png');
        color: #fff;
    }
    .buttonClick {
        background-image: url('../../../assets/images/selectFooter.png');
        color: #fff;
    }
    button.more {
        color: #fff;
        font-size: 2rem;
        position: absolute;
        bottom: 0px;
        left: 60%;
    }
    .buttonShow {
        height:auto !important;
        background: rgba(22,58,141,1);
    }
}