<do-frame class="network" leftTitle="集成电路"  menubarNone="true" menubarNoneTwo="true">
    <do-network class="nw" [theme]="theme" smallTitle="我国新型显示产业产能规模及全球占比" dataComing="" [optionType]="lineLeftUp" showEcharts="true" ></do-network>
    <do-network class="nw" [theme]="theme" smallTitle="企业分析" dataComing="" [optionType]="lineRightUp" showEcharts="true" ></do-network>
    <do-network class="nw" [theme]="theme" smallTitle="我国AMOLED产能规模及全球占比" dataComing="" [optionType]="lineLeftDown" showEcharts="true" ></do-network>
    <do-network class="nw" [theme]="theme" smallTitle="技术分析" dataComing="" [optionType]="lineRightDown" showEcharts="true"  ></do-network>
 </do-frame>