<do-frame leftTitle="工业软件产业发展态势" [menubarNone]=false>
    <do-container smallTitle="我国ERP发展规模" dataComing="Gartne" [optionType]="trendLine" [theme]="theme" [showEcharts]="showEcharts"
      style="float:left">
    </do-container>
    <do-container smallTitle="我国SCM发展规模" dataComing="Gartne" [optionType]="growthMap" [theme]="theme" [showEcharts]="showEcharts"
      style="margin-left:1vh;float:left">
    </do-container>
    <do-container smallTitle="我国CRM发展规模" dataComing="Gartne" [theme]="theme" [optionType]="indexLine" [showEcharts]="showEcharts"
      style="margin-top:1vh;float:left">
    </do-container>
    <do-container smallTitle="我国PLM发展规模" dataComing="CIMdata" [showEcharts]="showEcharts" [optionType]="growBarh" style="margin-left:1vh;margin-top:1vh;float:left">
    </do-container>
  </do-frame>
  