<do-frame class="network" leftTitle="集成电路"  menubarNone="true" menubarNoneTwo="true">
    <do-network class="nw" [theme]="theme" smallTitle="移动数据流量趋势" dataComing="" [optionType]="lineLeftUp" showEcharts="true" ></do-network>
    <do-network class="nw" [theme]="theme" smallTitle="移动应用（APP）发展态势" dataComing="" [optionType]="lineRightUp" showEcharts="true" ></do-network>
    <do-network class="nw" [theme]="theme" smallTitle="移动数据资费变化趋势" dataComing="" [optionType]="lineLeftDown" showEcharts="true" ></do-network>
    <do-network class="nw" [theme]="theme" smallTitle="全球互联网上市企业市值TOP15" dataComing="" [optionType]="lineRightDown" showEcharts="true"  ></do-network>
 </do-frame>