// .information {
//     float: left;
// }
h3 {
  position: absolute;
  font-size: 24px;
  top: 10px;
  left: 16px;
  letter-spacing: 4px;
}

.imgs {
  width: 90%;
  height: 80%;
  margin-top: 7%;
  margin-left: 5%;
}
