<do-frame leftTitle="我国工业互联网平台发展态势" [menubarNone]=false>
  <do-container smallTitle="发我国工业互联网平台分布" dataComing="Gartne" [optionType]="trendLine" [theme]="theme" nameMap="china" [showEcharts]="showEcharts"
    style="float:left">
  </do-container>
  <do-container smallTitle="三一根云平台功能数据展示" dataComing="Gartne" [optionType]="growthMap" [theme]="theme" [showEcharts]="showEcharts"
    style="margin-left:1vh;float:left">
    <img class="imgs" src="assets/images/mf141.png" />
  </do-container>
  <do-container smallTitle="海尔COSMOPlat台功能数据展示" dataComing="Gartne" [theme]="theme" [optionType]="indexLine" [showEcharts]="showEcharts"
    style="margin-top:1vh;float:left">
    <img class="imgs" src="assets/images/mf142.png" />
  </do-container>
  <do-container smallTitle="航天云网INDICS功能数据展示" dataComing="CIMdata" [showEcharts]="showEcharts" [optionType]="growBarh" style="margin-left:1vh;margin-top:1vh;float:left">
    <img class="imgs" src="assets/images/mf143.png" />
  </do-container>
</do-frame>
